<div id="container">
  <div id="content">
    <div id="about">
      <h1 style="display: flex; flex-flow: row; justify-content: center;">
        <div class="base-heading">
          Premium Videos
        </div>
        <div class="stage">
          <div class="pyramid3d">
            <div class="triangle side1"></div>
            <div class="triangle side2"></div>
            <div class="triangle side3"></div>
            <div class="triangle side4"></div>
          </div>
        </div>
      </h1>
    
      <!-- video -->
      <div style="margin: 5%">
        <video id="my-video" class="video-js" controls preload="auto"  data-setup="{}">
          <source src="<%= video %>" type="video/mkv" />
          <source src="<%= video %>" type="video/MKV" />
          <source src="<%= video %>" type="video/mp4" />
          <source src="<%= video %>" type="video/MP4" />
          <source src="<%= video %>" type="video/webm" />
          <source src="<%= video %>" type="video/WEBM" />
          <source src="<%= video %>" type="video/avi" />
          <source src="<%= video %>" type="video/AVI" />
        </video>
      </div>

      <div style="font-size: 1.6em; font-weight: 550; margin: 6% 0 6% 0;">
        <div style=" display: flex; flex-direction: column; align-items: center;">
          <p style="margin:0; font-size: 1.3em;">Your file is ready to play or download.</p>
          <div class="download">
            <img
              src="https://image.winudf.com/v2/image1/Y29tLnBsYXlpdC52aWRlb3BsYXllcl9pY29uXzE1NzYxMDQ1NDNfMDc1/icon.png?w=170&fakeurl=1"
              width="50px" height="50px" alt="">
            <button style="border: none; background-color: transparent;"> <a href="<%= url %>" style="font-size: 2em">
                Play / Download </a> </button>
          </div>
        </div>
      </div>
      <div class="telegram-channel">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/1024px-Telegram_logo.svg.png"
          width="50px" height="50px" alt="">
          <p>Join My Channel On Telegram : ▶️ <a style="margin:0; font-size: 1.3em;" href="https://t.me/my_channels_list_official">Click Here</a> ◀️</p>
      </div>
    </div>
  </div>
</div>
